/* index.css */

/* Reset default browser styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
form {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

/* Main */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

/* Contact form */
form {
    margin-top: 10px;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

.activitycontent,
.tumblr {
    position: relative;
    height: 100%
}

.tumblr {
    width: 100%;
    z-index: 990
}