body {
  background-color: #FFF;
  color : #1B435D;
  font-family: 'DotGothic16';
}
/*
header{
  position: fixed;
}
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 画面の高さいっぱいに親要素を広げる場合 */
  /*position: absolute;
  top: -40px;
}

.iframe-container iframe {
  /* iframeのサイズを調整する場合の追加のスタイル */
/*}
/* 例: 画面幅が768px以上の場合 */
img {
  max-width: 100%; /* 画像の最大幅を親要素に合わせる */
  height: auto; /* 高さを自動調整してアスペクト比を保持 */
  display: block; /* インライン要素からブロック要素に変更 */
  margin: 0 auto; /* 中央揃え（必要に応じて） */
}
